* {
  background-color: #f7f8f9;
  text-align: left;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f7f8f9;
  width: 100%;
  margin: 50px 0 50px 38px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
  text-transform: lowercase;
  margin: 140px 20% 0 0;
}

a:link, a:visited {
  color: #5990ea;
  text-decoration: none;
}

a:hover {
  color: #4f5763;
}

li {
  list-style: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 4px;
  font-family: 'Roboto Condensed', sans-serif;
}

a:link, a:visited {
  color: #bec0c4;
  text-decoration: none;
}

a:hover {
  color: #4f5763;
}
