* {
  text-align: center;
}

p, li {
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  display: inline;
  list-style: none;
  padding-left: 0px;
  margin: 0 13px;
}

h1, h3 {
  color: #303844;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: default;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 40px 0 50px 0;
}

h3 {
  font-family: 'Oswald', sans-serif;
  margin-top: 7em;
}

.content {
  background-color: #f7f8f9;
  margin: auto;
  border-right: solid 1px #9b9fa3;
  border-bottom: solid 2px #575c60;
  width: 1000px;
  flex-shrink: 3;
  flex-basis: 10000px;
  padding: 35px 0;
}

header {
  background-color: #f7f8f9;
  margin: 40px auto;
  border-right: solid 1px #9b9fa3;
  border-bottom: solid 2px #575c60;
  width: 1000px;
  flex-shrink: 3;
  flex-basis: 1000px;
  padding: 35px 0 35px 0;
}

body {
  background: url(../images/sunset.png) no-repeat center fixed;
  background-size: cover;
}

.sMedia {
  padding-right: 33px;
}


a:link, a:visited {
  color: #bec0c4;
  text-decoration: none;
}

a:hover {
  color: #4f5763;
}

#logo {
  margin-top: 10px;
  margin-left: 5px;
}


#about {
  margin-bottom: 5px;
}

/* Here's where things get sexy */
/* Below are the colors for the links */

a.sc:hover {
  color: #ff3a00;
}

a.steam:hover {
  color: #636363;
}

a.twitter:hover {
  color: #00aced;
}

a.yt:hover {
  color: #bb0000;
}

a.twitch:hover {
  color: #6441A4;
}

a.discord:hover {
  color: #7289da;
}
