* {
  text-align: center;
  background-color: #f7f8f9
}

p, li {
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  display: inline;
  list-style: none;
  margin: 0 10px;
}

h1, h3 {
  color: #303844;
  text-transform: uppercase;
  cursor: default;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 40px 0 75px 0;
}

h3 {
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
}

a:link, a:visited {
  color: #bec0c4;
  text-decoration: none;
}

a:hover {
  color: #4f5763;
}

#logo {
  margin-top: 22px;
  margin-left: 5px;
}

#about {
  margin-bottom: 45px;
}
